Lesson2/Lesson2Task1/.vs/
Lesson2/Lesson2Task1/bin/
Lesson2/Lesson2Task1/obj/
Lesson2/Lesson2Task1.zip
Starship. Lessons 1-2-3/ConsoleApp2/bin/
Starship. Lessons 1-2-3/ConsoleApp2/obj/
Starship. Lessons 1-2-3/ConsoleApp2/.vs/
Starship. Lessons 1-2-3/.vs/
Lesson5/HelloWpf/HelloWpf/.vs/
Lesson5/HelloWpf/HelloWpf/obj/
Lesson5/HelloWpf/HelloWpf/bin/
